html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: 'ABeeZee',Helvetica,Arial,Lucida,sans-serif;
  color: #FDF9D8;
}

a {
  color: inherit;
  text-decoration: none;
}

.thankyou {
  align-content: center;
  text-align: center;
}

.message {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

@media not all and (min-resolution:.001dpcm) { img[loading="lazy"] { clip-path: inset(0.5px) } }