.navigation_container {
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
}

.navigation_banner {
  background-color: #cf1f1f;
}

.navigation_banner img {
  height: 90px;
  object-fit: contain;
}

.menuTitles {
  opacity: 0.5;
  cursor: pointer;
}

.menuTitles:hover {
  opacity: 1;
}

.hide {
  display: none;
}

@media (max-width: 1199px) {
  @keyframes slide-in {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    100% {
      transform: translateX(20px);
      opacity: 1;
    }
  }

  .navigation_banner {
    padding-left: 1em;
  }

  .navigation_container {
    display: grid;
    grid-template-columns: 8fr 0fr 2fr;
  }

  .navigation_links {
    display: none;
  }

  .navigation_menu_container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 2em;
  }

  .navigation_menu_bar1,
  .navigation_menu_bar2,
  .navigation_menu_bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  .navigation_menu_bar1_close {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .navigation_menu_bar2_close {
    opacity: 0;
  }

  .navigation_menu_bar3_close {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .navigation_menu_list {
    padding: 1em 0 1em 1em;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    top: 3em;
    z-index: 3;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    animation: slide-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .navigation_menu_location {
    position: absolute;
    bottom: 15em;
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .navigation_links {
    padding-top: 2rem;
    padding-left: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    height: 8%;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    color: white;
  }
}
